.black{
    background-color: #769656;
}
.white{
    background-color: #eeeed2;
}
.tile{
    width:calc(var(--board-size) / 8);
    height:calc(var(--board-size) / 8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.tile img{
    width: 100%;
    height:100%;
}